.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
  }
  
  /* Hide default HTML checkbox */
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  /* The slider */
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #2196F3;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }

  .MoreInfo
  {
      text-align: center;
  }


.CardDiv
{
    margin: 20px;
    text-align: center;
    width: 100%;
    
}
.imgCoin
{
    width: 100%;
    height: 200px;
}
.fac
{
   width: 30px;
   height: 30px;
}
body
{
   background-image: url(http://2.bp.blogspot.com/-NDyeEfon-2A/VAPzKIJkAoI/AAAAAAAAEVs/ag6CJQGrZTA/s1600/beautiful-deep-purple-tangible-bitcoin-coins-wallpaper.jpg); 
}
#imgeTOP
{
 width: 100%;
 height: 200px;
}
#Cryptonite
{
    margin-left: 50px;
    margin-top: 20px;
    color: AF3E89;
}
.tt{
    margin-left: 600px;
}
.MoreInfo
{
    background-color: A8257C;
    width: 100%;
}
.PrintMores
{
    background-color: A8257C;
    width: 100%;
    height: 50px;
}
.shosho 
{
    background-color: D7D6D6;
}
.modal-header 
{
    background-color: D7D6D6;
    padding-left: 80px;
    text-size-adjust: 20px;
}
.modal-body
{
    background-color: D7D6D6;
    padding-left: 40px;
}
.modal-footer 
{
    background-color: D7D6D6;
}
.CardDiv
{
    background-color: A3B09F;
    color: A8257C;
}


